html, body {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --text-color: #cbcbcb;
    --text-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
    
}
.welcome1{
    width: 90%;
    background-color: #183003;
    margin-left: 100px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
   
}
.welcome{
    width: 90%;
    background-color: #183003;
    padding-top: px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.welcome1, .welcome  p{
    color: var(--text-color);
    font-size: 20px;
    padding: 5px 5px;
    text-align: justify;
    line-height: 40px;
    box-sizing: border-box;
   
}
.welcome a{
    text-decoration: underline;
    color: greenyellow;
    
}
.wel1{
    margin-top: 20px;
    float: left;
    border: 2px solid green;
    border-radius: 170px;
    margin-left: 10px;
    
}
span{
    border-bottom: 2px solid goldenrod;
    
}
