html, body {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --text-color: #cbcbcb;
    --text-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
    
}
.welcome{
    
    width: 90%;
    overflow: auto;
    background-color: var(--btn-bg);
    border: 2px solid var(--grad-color3);
    padding: 0.5em;
    border-radius: 1.5em;
    margin: auto;
    margin-top: 2em;
   position: relative;
    
}
h3{
    color: var(--text-color);
    text-align: center;
    
}
h5{
    color: var(--grad-color2);
    
    
}
img{
    float: left;
    border-radius: 100px;
    margin: auto;
    
}


